.DS_Store
dist/
docs/.observablehq/cache/
node_modules/
yarn-error.log
docs/*.png
docs/data/*.json
docs/data/grids/*.json
docs/data/tiles.csv
docs/data/disturbances.csv
docs/data/geometries.csv
docs/data/grid_matches.csv
docs/E*.md
docs/W*.md
build.sh
